<footer class="footer py-4 bg-warning text-dark">
    <div class="container">
      <div class="row">
        
        <!-- Quick Links -->
        <div class="col-md-3">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a [routerLink]="['/admin']" class="text-dark text-decoration-none">Admin</a></li>
            <li><a [routerLink]="['/info','aboutUs']" class="text-dark text-decoration-none">About Us</a></li>
          </ul>
        </div>
  
        <!-- Policy -->
        <div class="col-md-3">
          <h5>Policy</h5>
          <ul class="list-unstyled">
            <li><a [routerLink]="['/info','privacy']" class="text-dark text-decoration-none">Privacy Policy</a></li>
            <li><a [routerLink]="['/info','tnc']" class="text-dark text-decoration-none">Terms of Service</a></li>
          </ul>
        </div>
  
        <!-- Address -->
        <div class="col-md-3">
          <h5>Address</h5>
          <p>123, Main Street, City, Country</p>
        </div>
  
        <!-- Contact Us -->
        <div class="col-md-3">
          <h5>Contact Us</h5>
          <div class="d-flex gap-3">
            <a href="#" class="text-dark fs-4"><i class="bi bi-whatsapp"></i></a>
            <a href="#" class="text-dark fs-4"><i class="bi bi-facebook"></i></a>
            <a href="#" class="text-dark fs-4"><i class="bi bi-telegram"></i></a>
          </div>
        </div>
  
      </div>
    </div>
  </footer>
  