<div class="admin container-fluid d-flex">
  <!-- Toggle Button -->
  <button class="btn btn-dark toggle-btn" (click)="toggleSidebar()">☰</button>

  <!-- Sidebar -->
  <div class="side-nav" [class.open]="isSidebarOpen">
    <div class="profile d-flex align-items-center gap-2">
      <div class="avatar">
        <i class="bi bi-person fa-lg mr-3 mb-0"> </i>
      </div>
      <div class="details d-flex flex-column">
        <div class="name">
          {{ userData.role == "Lab" ? lab.username : 'Lab Staff:-' + lab.name }}
        </div>
        <div class="no">
          {{ lab.mobile }}
        </div>
        <div class="no">{{ lab.address }} - {{ lab.city }}</div>
      </div>
    </div>
    <hr />
    <ng-container *ngIf="userData.role == 'Lab'">
      <ul class="nav flex-column gap-2">
        <li
          class="nav-item"
          [class.active]="show === 'dashboard'"
          (click)="showContent('dashboard')"
        >
          <a class="nav-link"><i class="bi bi-grid"></i>Dashboard</a>
        </li>
        <li
          class="nav-item"
          [class.active]="show === 'setting'"
          (click)="showContent('setting')"
        >
          <a class="nav-link"><i class="bi bi-calendar-event"></i>Settings</a>
        </li>
      </ul>

      <h6>Services</h6>
      <ul class="nav flex-column gap-2" *ngIf="serviceDetails">
        <li
          class="nav-item"
          [class.active]="show === service.name"
          (click)="showContent(service.name, service)"
          *ngFor="let service of serviceDetails"
        >
          <a class="nav-link"><i class="bi bi-grid"></i>{{ service.name }}</a>
        </li>
      </ul>

      <h6>Staff</h6>
      <ul class="nav flex-column gap-2">
        <li
          class="nav-item"
          [class.active]="show === staff.name"
          (click)="showContent(staff.name, staff)"
          *ngFor="let staff of staff"
        >
          <a class="nav-link"><i class="bi bi-grid"></i>{{ staff.name }}</a>
        </li>
      </ul>
    </ng-container>

    <ul class="nav flex-column gap-2" *ngIf="userData.role == 'LabStaff'">
      <li class="nav-item active">
        <a class="nav-link"><i class="bi bi-grid"></i>{{ showStaff.name }}</a>
      </li>
    </ul>
  </div>

  <!-- Main Content -->
  <div class="side-content">
    <div class="header">
      <div
        class="header-main d-flex align-items-center w-100 justify-content-between"
      >
        <div class="right d-flex gap-3">
          <div class="d-flex gap-1 align-items-center">
            <i class="bi bi-house-door fa-lg mr-3 mb-0"> </i>
            <p class="mb-0" (click)="redirectToHome()">Home</p>
          </div>
          <div class="d-flex gap-1 align-items-center">
            <i class="bi bi-arrow-clockwise mb-0"></i>
            <p class="mb-0">Refresh</p>
          </div>
        </div>
        <div class="left d-flex">
          <p
            class="d-flex justify-content-center align-items-center mb-0 p-2"
            (click)="redirect( 'login/user')"
          >
            <i class="bi bi-box-arrow-in-right fa-lg mb-0 px-1"></i
            >{{ loggedIn ? "Logout" : "Login" }}
          </p>
          <p
            class="d-flex justify-content-center align-items-center mb-0 p-2"
            (click)="redirect('register')"
            *ngIf="!loggedIn"
          >
            <i class="bi bi-person-check fa-lg mb-0 px-1"></i>Register
          </p>
        </div>
      </div>
    </div>
    <div class="main-con">
      <div class="container mt-4" *ngIf="show == 'dashboard'">
        <h3 class="fw-bold">Lab Dashboard</h3>

        <div class="row mt-3">
          <div class="col-md-3 mb-4" *ngFor="let card of dashboardData">
            <div class="card custom-card">
              <div class="card-body text-center">
                <h5 class="fw-semibold">{{ card.title }}</h5>
                <h2 class="fw-bold">{{ card.value }}</h2>
                <button
                  class="btn btn-primary"
                  *ngIf="card.title == 'Admin Revenue (20%)'"
                  (click)="redirectToPhonePe()"
                >
                  Pay Now
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="qr-code-box">
          <img src="assets/images/phonepe-qr.jpg" alt="QR Code" class="qr-image"/>
        </div>
      </div>
      <div class="seeting container mt-4" *ngIf="show == 'setting'">
        <h4 class="fw-bold">Settings</h4>
        <!-- Header -->
        <div
          class="btn-row d-flex gap-1 justify-content-between align-items-center px-1 py-1"
        >
          <button
            type="button"
            class="btn position-relative w-50"
            [class.activebutton]="btn.key === activeButton"
            *ngFor="let btn of buttons"
            (click)="toggleActiveButton(btn.key)"
          >
            {{ btn.name }}
          </button>
        </div>
        <div class="card mt-3 p-3" *ngIf="activeButton == 'lab'">
          <!-- Event Form -->
          <h4 class="fw-bold py-2">Lab</h4>
          <form [formGroup]="labForm">
            <!-- Second Row: Time From & Time To -->
            <div class="row mb-3">
              <h3>Shift One</h3>
              <div class="col-md-6">
                <label class="form-label">Time From</label>
                <input
                  type="time"
                  class="form-control"
                  formControlName="shiftOneStartTime"
                  required
                />
              </div>
              <div class="col-md-6">
                <label class="form-label">Time To</label>
                <input
                  type="time"
                  class="form-control"
                  formControlName="shiftOneEndTime"
                  required
                />
              </div>
            </div>
            <div class="row mb-3">
              <h3>Shift Two</h3>
              <div class="col-md-6">
                <label class="form-label">Time From</label>
                <input
                  type="time"
                  class="form-control"
                  formControlName="shiftTwoStartTime"
                  required
                />
              </div>
              <div class="col-md-6">
                <label class="form-label">Time To</label>
                <input
                  type="time"
                  class="form-control"
                  formControlName="shiftTwoEndTime"
                  required
                />
              </div>
            </div>
          </form>
          <div class="col-md-6 d-flex align-items-end">
            <button
              type="submit"
              class="btn btn-dark"
              (click)="updateSchedule()"
              *ngIf="!lab.shiftOneStartTime"
            >
              Add Schedule
            </button>
            <button
              type="submit"
              class="btn btn-dark"
              (click)="updateSchedule()"
              *ngIf="lab.shiftOneStartTime"
            >
              Update Schedule
            </button>
          </div>
        </div>
        <div class="card mt-3 p-3" *ngIf="activeButton == 'services'">
          <!-- Event Form -->
          <h4 class="fw-bold py-2">Add Service</h4>

          <form [formGroup]="visitlabForm">
            <div class="row">
              <div class="col-md-6">
                <label class="form-label"> Service Name</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="name"
                  placeholder="Enter Service"
                  required
                />
              </div>
              <div class="col-md-6">
                <label class="form-label">Per Patient Fee</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="fee"
                  placeholder="Enter fee"
                  required
                />
              </div>
            </div>
            <div class="col-md-6 d-flex align-items-end">
              <button
                type="submit"
                class="btn btn-dark mt-2"
                (click)="onSubmit()"
                *ngIf="!isEditService"
              >
                Add Service
              </button>
              <button
                type="submit"
                class="btn btn-dark mt-2 mx-2"
                (click)="updateLabService()"
                *ngIf="isEditService"
              >
                Update Service
              </button>
              <button
                type="submit"
                class="btn btn-dark mt-2"
                (click)="resetServiceForm()"
                *ngIf="isEditService"
              >
                reset Service
              </button>
            </div>
          </form>
          <!-- Table to Show Data -->
          <div class="mt-4 scroll-table" *ngIf="serviceDetails">
            <h4>Service Details</h4>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Service name</th>
                  <th>Per Patient Fee</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody *ngIf="serviceDetails.length > 0">
                <tr *ngFor="let service of serviceDetails; let i = index">
                  <td>{{ service.name }}</td>
                  <td>{{ service.fee }}</td>
                  <td
                    class="d-flex justify-content-center align-items-center gap-2"
                  >
                    <button
                      class="btn btn-danger btn-sm"
                      (click)="deleteService(service)"
                    >
                      <i class="bi bi-trash"></i>
                    </button>
                    <button
                      class="btn btn-danger btn-sm"
                      (click)="editService(service)"
                    >
                      <i class="bi bi-pencil-square"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="serviceDetails.length < 1">
                <tr>
                  <td colspan="7" style="text-align: center">
                    <h4>No Service Details Present, Please Add Service</h4>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="staff" *ngIf="activeButton == 'staff'">
          <!-- Staff Form -->
          <div class="card mt-3 p-3">
            <h4 class="fw-bold py-2">Staff Details</h4>
            <form [formGroup]="staffForm">
              <div class="row">
                <div class="col-md-3">
                  <label>Staff Name</label>
                  <input
                    formControlName="name"
                    class="form-control"
                    placeholder="Enter staff name"
                    required
                  />
                </div>
                <div class="col-md-3">
                  <label>Address</label>
                  <input
                    formControlName="address"
                    class="form-control"
                    placeholder="Enter address"
                    required
                  />
                </div>
                <div class="col-md-3">
                  <label>Mobile No</label>
                  <input
                    formControlName="mobile"
                    class="form-control"
                    placeholder="Enter mobile no"
                    [class.disabled]="isEditstaff"
                    [class.is-invalid]="
                      staffForm.get('mobile')?.invalid &&
                      staffForm.get('mobile')?.touched
                    "
                    required
                  />
                  <div
                    class="invalid-feedback"
                    *ngIf="
                      staffForm.get('mobile')?.invalid &&
                      staffForm.get('mobile')?.touched
                    "
                  >
                    Enter a valid 10-digit mobile number.
                  </div>
                </div>
                <div class="col-md-3">
                  <label>Password</label>
                  <input
                    type="password"
                    formControlName="password"
                    class="form-control"
                    [class.disabled]="isEditstaff"
                    placeholder="Enter password"
                    required
                  />
                </div>
              </div>
              <button
                class="btn btn-dark mt-3"
                type="submit"
                (click)="addStaff()"
                *ngIf="!isEditstaff"
              >
                Add Staff
              </button>
              <button
                class="btn btn-dark mt-3"
                type="submit"
                (click)="updateStaff()"
                *ngIf="isEditstaff"
              >
                Edit Staff
              </button>
              <button
                class="btn btn-dark mt-3 mx-3"
                type="submit"
                (click)="resetStaff()"
                *ngIf="isEditstaff"
              >
                Reset Staff
              </button>
            </form>
          </div>

          <div class="mt-4" *ngIf="staff.length > 0">
            <h5>Staff List</h5>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Staff Name</th>
                  <th>Mobile No</th>
                  <th>Address</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let staff of staff; let i = index">
                  <td>{{ staff.name }}</td>
                  <td>{{ staff.mobile }}</td>
                  <td>{{ staff.address }}</td>
                  <td
                    class="d-flex justify-content-center align-items-center gap-2"
                  >
                    <button
                      class="btn btn-danger btn-sm"
                      (click)="deleteStaff(staff)"
                    >
                      <i class="bi bi-trash"></i>
                    </button>
                    <button
                      class="btn btn-danger btn-sm"
                      (click)="editStaffValue(staff)"
                    >
                      <i class="bi bi-pencil-square"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div
        class="patient-list container mt-4"
        *ngIf="show == showService?.name"
      >
        <h4 class="mb-3">Patient List</h4>

        <table class="table table-bordered text-center">
          <thead class="table-dark">
            <tr>
              <th>S. No.</th>
              <th>Patient Name</th>
              <th>M/F</th>
              <th>Email</th>
              <th>Mobile No.</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody *ngIf="patients">
            <tr *ngFor="let patient of patients; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ patient.username }}</td>
              <td>{{ patient.gender }}</td>
              <td>{{ patient.email }}</td>
              <td>{{ patient.mobile }}</td>

              <!-- Status Toggle -->
              <td
                class="d-flex justify-content-center align-items-center gap-2"
              >
                <p
                  class="mb-0"
                  [ngClass]="
                    patient.bookEvents[0].status == 'Completed'
                      ? 'text-muted'
                      : 'fw-bold'
                  "
                >
                  Pending
                </p>
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [class.disabled]="
                      patient.bookEvents[0].status == 'Completed' || patient.bookEvents[0].status == 'Cancel'
                    "
                    [checked]="patient.bookEvents[0].status == 'Completed'"
                    (change)="toggleStatus(patient, 'Completed', showService)"
                  />
                </div>
                <p
                  class="mb-0"
                  [ngClass]="
                    patient.bookEvents[0].status == 'Completed'
                      ? 'fw-bold'
                      : 'text-muted'
                  "
                >
                  Completed
                </p>
              </td>

              <!-- Cancel Button -->
              <td>
                <button
                  class="btn btn-danger btn-sm"
                  [class.disabled]="patient.bookEvents[0].status == 'Completed' || patient.bookEvents[0].status == 'Cancel'"
                  (click)="toggleStatus(patient, 'Cancel', showService)"
                >
                  <i class="bi bi-trash"></i> {{patient.bookEvents[0].status == 'Cancel' ? 'Cancelled' : 'Cancel'}}
                </button>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="patients.length < 1">
            <tr>
              <td colspan="7" style="text-align: center">
                <h4>No Patient Details Present</h4>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="patient-list container mt-4" *ngIf="show == showStaff?.name">
        <h4 class="mb-3">Patient List</h4>

        <table class="table table-bordered text-center">
          <thead class="table-dark">
            <tr>
              <th>S. No.</th>
              <th>Patient Name</th>
              <th>M/F</th>
              <th>Email</th>
              <th>Mobile No.</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody *ngIf="patients">
            <tr *ngFor="let patient of patients; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ patient.username }}</td>
              <td>{{ patient.gender }}</td>
              <td>{{ patient.email }}</td>
              <td>{{ patient.mobile }}</td>

              <!-- Status Toggle -->
              <td
                class="d-flex justify-content-center align-items-center gap-2"
              >
                <p
                  class="mb-0"
                  [ngClass]="
                    patient.bookEvents[0].status == 'Completed'
                      ? 'text-muted'
                      : 'fw-bold'
                  "
                >
                  Pending
                </p>
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [class.disabled]="
                      patient.bookEvents[0].status == 'Completed' || patient.bookEvents[0].status == 'Cancel'
                    "
                    [checked]="patient.bookEvents[0].status == 'Completed'"
                    (change)="toggleStatus(patient,'Completed')"
                  />
                </div>
                <p
                  class="mb-0"
                  [ngClass]="
                    patient.bookEvents[0].status == 'Completed'
                      ? 'fw-bold'
                      : 'text-muted'
                  "
                >
                  Completed
                </p>
              </td>

              <!-- Cancel Button -->
              <td>
                <button
                  class="btn btn-danger btn-sm"
                  [class.disabled]="patient.bookEvents[0].status == 'Completed' || patient.bookEvents[0].status == 'Cancel'"
                  (click)="toggleStatus(patient,'Cancel')"
                >
                  <i class="bi bi-trash"></i> {{patient.bookEvents[0].status == 'Cancel' ? 'Cancelled' : 'Cancel'}}
                </button>
                <button
                class="btn btn-success btn-sm mx-1" (click)="print(patient)"
              >
              <i class="bi bi-printer mb-0" ></i> Print
              </button>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="!patients || (patients.length < 1)">
            <tr>
              <td colspan="7" style="text-align: center">
                <h4>No Patient Details Present</h4>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-loader *ngIf="loader" [isLoading]="true"></app-loader>
