<div class="admin container-fluid d-flex">
  <!-- Toggle Button -->
  <button class="btn btn-dark toggle-btn" (click)="toggleSidebar()">☰</button>
  <!-- Sidebar -->
  <div class="side-nav" [class.open]="isSidebarOpen">
    <div class="profile d-flex align-items-center gap-2">
      <div class="avatar">
        <i class="bi bi-person fa-lg mr-3 mb-0"> </i>
      </div>
      <div class="details d-flex flex-column">
        <div class="name">
           Admin - {{userData.username}}
        </div>
        <div class="no">
          {{userData.mobile}}
        </div>
      </div>
    </div>
    <hr>
    <ul class="nav flex-column gap-2">
      <li
        class="nav-item"
        [class.active]="show === 'dashboard'"
        (click)="showContent('dashboard')"
      >
        <a class="nav-link"><i class="bi bi-grid"></i>Dashboard</a>
      </li>
      <li
        class="nav-item"
        [class.active]="show === 'data'"
        (click)="showContent('data')"
      >
        <a class="nav-link"><i class="bi bi-calendar-event"></i>Data</a>
      </li>
    </ul>
  </div>

  <!-- Main Content -->
  <div class="side-content">
    <div class="header">
      <div class="header-main d-flex align-items-center w-100 justify-content-between">
        <div class="right d-flex gap-3">
          <div class="d-flex gap-1 align-items-center" (click)="redirectToHome()"><i class="bi bi-house-door fa-lg mr-3 mb-0"> </i> <p class="mb-0">Home</p></div>
          <div class="d-flex gap-1 align-items-center"><i class="bi bi-printer mb-0"></i> <p class="mb-0">Print</p></div>
         <div class="d-flex gap-1 align-items-center"> <i class="bi bi-arrow-clockwise mb-0"></i> <p class="mb-0" (click)="refresh()">Refresh</p></div>
        </div>
        <div class="left d-flex">
          <p
            class="d-flex justify-content-center align-items-center mb-0 p-2"
            (click)="redirect('login')"
          >
            <i class="bi bi-box-arrow-in-right fa-lg mb-0 px-1"></i
            >{{ loggedIn ? "Logout" : "Login" }}
          </p>
          <p
            class="d-flex justify-content-center align-items-center mb-0 p-2"
            (click)="redirect('register')"
            *ngIf="!loggedIn"
          >
            <i class="bi bi-person-check fa-lg mb-0 px-1"></i>Register
          </p>
        </div>
      </div>
    </div>
    <div class="main-con">
      <div class="container mt-4" *ngIf="show == 'dashboard'">
        <h4 class="fw-bold">Dashboard</h4>
  
        <div class="row mt-3">
          <div class="col-md-3 mb-4" *ngFor="let card of dashboardData">
            <div class="card custom-card">
              <div class="card-body text-center">
                <h5 class="fw-semibold">{{ card.title }}</h5>
                <h2 class="fw-bold">{{ card.value }}</h2>
                <ng-container *ngIf="card.title == 'Balance Revenue'">
                  <div class="d-flex flex-column justify-content-start align-items-start">
                    <li>From Labs :- 0</li>
                    <li>From Hospitals :- 0</li>
                    <li>From Visit Doctors :- 0</li>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="seeting container mt-4" *ngIf="show == 'data'">
        <!-- Header -->
        <h4 class="fw-bold">Search Data By City</h4>
        <app-city-dropdown
          class="col-12"
          (citySelected)="handleCitySelection($event)"
        ></app-city-dropdown>

        <div class="btn-row gap-1 justify-content-between align-items-center px-1 py-1 mt-2">
          <button 
            type="button" 
            class="btn position-relative"
            [class.activeBtn]="btn.key === activeButton"
            *ngFor="let btn of buttons" 
            (click)="toggleActiveButton(btn.key)">
            {{ btn.name }}
          </button>
        </div>

  
        <!-- Event Form -->
        <div class="card mt-3 p-3">
          <div class="container mt-4">        
            <!-- Search Input -->
            <div class="mb-3">
              <input type="text" class="form-control" placeholder="Search by name..." [(ngModel)]="searchQuery">
            </div>
          
            <!-- Table -->
            <div class="table-responsive">
              <table class="table table-striped table-bordered text-center">
                <thead class="table-dark">
                  <tr>
                    <th>Name</th>
                    <th *ngIf="activeButton == 'organizers'">Total Events</th>
                    <th *ngIf="activeButton == 'visitDoctors'">Total Visits</th>
                    <th *ngIf="activeButton == 'labs' || activeButton == 'hospitals'">Total Service</th>
                    <th *ngIf="activeButton == 'organizers' || activeButton == 'hospitals'">Total Doctors</th>
                    <th>Total Staff</th>
                    <th>Total Patients</th>
                    <th>Admin Revenue</th>
                    <th>Pending Revenue</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody *ngIf="!(filteredOrganizers.length < 1)">
                  <tr *ngFor="let org of filteredOrganizers; let i = index">
                    <td>{{ org.name }}</td>
                    <td *ngIf="activeButton == 'organizers'">{{ org.totalEvents }}</td>
                    <td *ngIf="activeButton == 'visitDoctors'">{{ org.totalVisitDetails }}</td>
                    <td *ngIf="activeButton == 'labs' || activeButton == 'hospitals'">{{ org.totalServices }}</td>
                    <td *ngIf="activeButton == 'organizers' || activeButton == 'hospitals'">{{ org.totalDoctors }}</td>
                    <td>{{ org.totalStaff }}</td>
                    <td>{{ org.completedPatients }}</td>
                    <td>{{ org.adminRevenue }}</td>
                    <td>{{ org.feeBalance }}</td>
                    <td>
                      <button class="btn btn-danger btn-sm me-2" (click)="deleteOrganizer(i)">Delete</button>
                      <button 
                        class="btn btn-success btn-sm" 
                        [disabled]="org.pendingRevenue === 0"
                        (click)="markAsPaid(i)">
                        Paid
                      </button>
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="filteredOrganizers.length < 1">
                  <tr>
                    <td colspan="8" class="text-center">
                      No Data Found
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          
            <!-- Pagination -->
            <nav>
              <ul class="pagination justify-content-center">
                <li class="page-item" [class.disabled]="currentPage === 1">
                  <button class="page-link" (click)="changePage(currentPage - 1)">Previous</button>
                </li>
                <li class="page-item" *ngFor="let page of pageNumbers">
                  <button class="page-link" [class.active]="currentPage === page" (click)="changePage(page)">{{ page }}</button>
                </li>
                <li class="page-item" [class.disabled]="currentPage === pageNumbers.length">
                  <button class="page-link" (click)="changePage(currentPage + 1)">Next</button>
                </li>                
              </ul>
            </nav>
          </div>
        </div>
  
        <!-- Doctor Form -->
        <div class="card mt-3 p-3" *ngIf="activeButton == 'visitDoctors'">
          
        </div>
  
        <!-- Staff Form -->
        <div class="card mt-3 p-3" *ngIf="activeButton == 'labs'">

          
        </div>
        <div class="card mt-3 p-3" *ngIf="activeButton == 'hospitals'">

          
        </div>
      </div>
    </div>
  </div>
</div>

<app-loader *ngIf="loader" [isLoading]="true"></app-loader>
