.client-user{
    background: #fff;
    padding: 1rem 5rem;
}

button{
    font-weight: 600;
    position: relative;
    color: #fff;
}

.notification{
    right: -7px;
    position: absolute;
    background-color: #ef4444;
    border-radius: 50%;
    padding: 0.25rem 0.5rem;
    color: #fff;
    font-weight: lighter;
    font-size: 8px;
    top: -10px;
}



.card{
    background: #e4e4e768;
    .btn{
        border: none;
        padding: 0.6rem;
        margin-top: 1rem;
    }

    span{
        font-size: 10px;
    }

}

h2{
    text-align: center;
    font-weight: 400;
}

.submit{
    background-color: #22c55e;
}

p{
    margin-bottom: 0;
}

.modal-content {
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .modal-title {
    font-size: 18px;
  }
  
  .form-select, .btn {
    border-radius: 6px;
  }
  

  
/* Table Styling */
table {
    overflow: hidden;
  }

  thead, tbody{
    border: 1px solid #00000026;
  }
  
  th {
    background: #fff !important;
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    padding: 16px;
    border-color: #0000001a;
  }
  
  td {
    vertical-align: middle;
    font-size: 16px;
  }
  
  /* Button Styling */
  button:disabled {
    background: #cccccc !important;
    cursor: not-allowed;
  }
  
  button {
    transition: 0.3s;
  }
  
  button:hover {
    transform: scale(1.05);
  }

  .noBorder{
    border-bottom: none;
  }

  .btn-transparent {
    background: transparent;
    border: none;
    color: #6c757d;
  }
  
  .btn-light {
    background: white;
    color: black;
  }

  .btn-row{
    background-color: #f1f5f9;
    border-radius: 10px;
    button{
      width: 23%;
      min-width: fit-content;
      color: #64748b;
    }
  }

  .active{
    background-color: #fff;
    color: #000 !important;
    border: none;
    padding: 10px 0;
  }

  .card-header {
    background-color: rgb(239 246 255); /* Light blue header */
  }
  
  .card-body ul {
    padding-left: 20px; /* Ensure list is aligned properly */
  }
  
  .btn-dark {
    min-width: 120px; /* Ensure consistent button width */
  }

  .card-header{
    background-color: #eff6ff;
  }
  
  
  
  /* Responsive Styling */
  @media (max-width: 768px) {
    .client-user{
      padding: 10px;
  }
  
    .table {
      font-size: 14px;
    }

    .container{
        padding: 0;
    }

    .show-content{
      padding: 1rem !important;
  }
  }
  