<div class="client-user" *ngIf="eventObj">
  <div class="btn-row d-flex gap-1 justify-content-between align-items-center px-1 py-1">
    <button 
      type="button" 
      class="btn position-relative"
      [class.active]="btn.key === activeButton"
      *ngFor="let btn of buttons" 
      (click)="toggleActiveButton(btn.key)">
      {{ btn.name }}
      <span *ngIf="btn.notification > 0" class="badge bg-danger position-absolute top-0 end-0 translate-middle">
        {{ btn.notification }}
      </span>
    </button>
  </div>
  

    <div class="show-content pt-5">
        <div class="row" *ngIf="showContent.length > 0">
          <div class="container mt-4" *ngIf="btnName == 'Free Camp'">       
            <div class="container" *ngFor="let data of showContent">
              <h4 class="fw-bold text-left mb-3">{{ data.eventName }}</h4>
              <div class="table-responsive">
                <table class="table shadow-sm">
                  <thead class="table-dark">
                    <tr>
                      <th scope="col" class="text-sm text-muted py-3 text-truncate">Date & Time</th>
                      <th scope="col" class="text-sm text-muted py-3 text-truncate">Doctor Name</th>
                      <th scope="col" class="text-sm text-muted py-3">Place</th>
                      <th scope="col" class="text-sm text-muted py-3" style="text-align: right;">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let doc of data.doctors">
                      <!-- Date & Time Column -->
                      <td class="text-sm py-3 px-2">

                        <div class="fw-600">{{ data.eventDate | date:'dd-MM-yy' }}</div>
                        <div class="small text-muted">{{ data.startTime | date:'HH:mm' }} to {{data.endTime | date:'HH:mm' }}</div>
                      </td>
              
                      <!-- Doctors Column -->
                      <td class="text-sm py-3 px-2 fw-600">
                        {{doc.name}}
                      </td>
              
                      <!-- Place Column -->
                      <td class="text-sm py-3 px-2 fw-600">{{ data.eventPlace }}</td>
              
                      <!-- Booking Column -->
                      <td class="text-sm py-3 px-2 text-right" style="text-align: right;">
                        <button type="button" class="btn btn-dark btn-sm px-3 py-2"
                          [disabled]="isBtnDisabled(doc)" 
                          (click)="bookCamp(data, doc)" *ngIf="isUserLoggedin">
                          <i class="bi bi-calendar-check"></i> {{isBtnDisabled(doc) ? 'Already Booked' : 'Book' }}
                        </button>
                        <button class="btn btn-dark btn-sm px-3 py-2" *ngIf="!isUserLoggedin || userData.role !== 'Patient'" (click)="redirect( 'login/user')"><i class="bi bi-person-check px-1"></i>Login to Book</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
            </div>
          </div>
          <div class="container mt-4" *ngIf="btnName == 'Visit Doctor'">       
            <div class="container">
              <h4 class="fw-bold text-left mb-3">Doctors List</h4>
              <div class="table-responsive">
                <table class="table shadow-sm">
                  <thead class="table-dark">
                    <tr>
                      <th scope="col" class="text-sm text-muted py-3 text-truncate">Date & Time</th>
                      <th scope="col" class="text-sm text-muted py-3 text-truncate">Doctor Name</th>
                      <th scope="col" class="text-sm text-muted py-3">Place</th>
                      <th scope="col" class="text-sm text-muted py-3" style="text-align: right;">Action</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let data of showContent">
                    <tr *ngFor="let visit of data.visitDetails">
                      <!-- Date & Time Column -->
                      <td class="text-sm py-3 px-2">
                        <div class="fw-600">{{ visit.eventDate | date:'dd-MM-yy' }}</div>
                        <div class="small text-muted">{{ visit.startTime | date:'HH:mm a' }} to {{visit.endTime | date:'HH:mm a' }}</div>
                      </td>
              
                      <!-- Doctors Column -->
                      <td class="text-sm py-3 px-2 fw-600">
                        {{data.username}}
                      </td>
              
                      <!-- Place Column -->
                      <td class="text-sm py-3 px-2 fw-600">{{ visit.visitPlace }}</td>
              
                      <!-- Booking Column -->
                      <td class="text-sm py-3 px-2 text-right" style="text-align: right;">
                        <button type="button" class="btn btn-dark btn-sm px-3 py-2"
                        [disabled]="isBtnDisabled(data)"
                          (click)="bookVisit(data, visit)" *ngIf="isUserLoggedin">
                          <i class="bi bi-calendar-check"></i> {{isBtnDisabled(data) ? 'Already Booked' : 'Book' }}
                        </button>
                        <button class="btn btn-dark btn-sm px-3 py-2" *ngIf="!isUserLoggedin || userData.role !== 'Patient'" (click)="redirect( 'login/user')"><i class="bi bi-person-check px-1"></i>Login to Book</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            
          </div>

          <div *ngIf="btnName == 'Labs' || btnName == 'Hospitals'" class="row">
              <div class="col-sm-4" *ngFor="let data of showContent">
                <div class="card shadow-sm">
                  <div class="card-header bg-light py-3">
                    <h3 class="mb-0">{{ data.username }}</h3>
                  </div>
                  <div class="card-body bg-white">
                    <p class="text-muted mb-2">{{ data.address }}</p>
                    <p class="text-muted mb-2">{{btnName == 'Labs' ? 'Lab' : 'Hospital'}} Open Time :- <span>{{ data.shiftOneStartTime }} - {{data.shiftOneEndTime}}</span> <br> <span *ngIf="data?.shiftTwoStartTime">{{ data?.shiftTwoStartTime }} - {{data?.shiftTwoEndTime}}</span></p>
                    
                    <h6 class="fw-bold">Available Services:</h6>
                    <ul class="mb-4">
                      <li *ngFor="let service of data.availableServices">{{ service.name }}</li>
                    </ul>
                    
                    <div class="d-flex justify-content-end">
                      <button type="button" class="btn btn-dark" [disabled]="isBtnDisabled(data)" (click)="openModal(data)" *ngIf="isUserLoggedin">
                        {{isBtnDisabled(data) ? 'Already Booked' : 'Book' }}
                      </button>
                      <button class="btn btn-dark btn-sm px-3 py-2" *ngIf="!isUserLoggedin || userData.role !== 'Patient'" (click)="redirect( 'login/user')"><i class="bi bi-person-check px-1"></i>Login to Book</button>
                    </div>
                    <div class="bookedText" *ngIf="isBtnDisabled(data)">
                      <p class="fw-bold text-muted pt-1">You Have Already Booked this {{btnName == 'Labs' ? 'Lab' : 'Hospital'}} for Service - {{booking(data)?.serviceName}} of Date {{booking(data)?.bookingDate | date:'dd-MMMM-YYYY'}}</p>
                    </div>
                  </div>
                </div>
                
              </div>
          </div>
        </div>
        <div class="no-content d-flex flex-column justify-content-center align-items-center" *ngIf="!(showContent.length > 0)">
          <img src="assets/images/no-result.png" alt="" style="width: 12rem;">
            <h2>There is No {{btnName}} Available</h2>
        </div>
    </div>
</div>

<div class="select-text p-4 d-flex flex-column justify-content-center align-items-center" *ngIf="!eventObj">
  <img src="assets/images/city.png" alt="" style="width: 12rem;">
    <h2 class="pt-2">Please Search for Your city to check Events</h2>
</div>
<!-- Modal -->
<div class="modal fade" #myModal tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-3">
      
      <!-- Modal Header -->
      <div class="modal-header border-0">
        <h5 class="modal-title fw-bold" id="modalLabel">Book Your {{btnName}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <label class="form-label fw-semibold mb-1 pt-2">{{btnName}} Name</label>
        <input class="form-control" type="text" [disabled]="true" [value]= "modalData?.username">

        <label class="form-label fw-semibold mb-1 pt-4">Select Service</label>
        <select class="form-select mb-3" [(ngModel)]="selectedService">
          <option selected disabled [ngValue]="null">Select Service</option>
          <option *ngFor="let data of modalData?.availableServices" [ngValue]="data">
            {{ data.name }}
          </option>
        </select>        

        <label class="form-label fw-semibold mb-1 pt-2" >Select Date</label>
        <input class="form-control" type="date" [min]="today" [(ngModel)]="selectedDate">
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-success w-100 fw-bold" (click)="book(modalData)" [class.disabled]="!selectedDate || !selectedService">Book Now</button>
      </div>

    </div>
  </div>
</div>

<app-loader *ngIf="loader" [isLoading]="true"></app-loader>

